body{
  display:flex;
  align-items:center;
  justify-content:center;
  height:130vh;
}
.among-us{
  position:relative;
}
.among-us .body{
  position:relative;
  width: 300px;
  height: 430px;
  border-radius:30% 45% 0 0;
  border: 30px solid black;
  overflow:hidden;
}
.color{
  position : absolute;
  width:100%;
  height:100%;
  background-color:#09158E;
}
.shadow{
  position:absolute;
  width:100%;
  height: 90%;
  background-color:#132ED1;
  border-radius:19% 31% 43% 50% / 36% 45% 45% 44% ;
}
.helmet{
  position:absolute;
  width:220px;
  height:130px;
  background-color:#00917c;
  right:-20px;
  top:90px;
  border:30px black solid;
  border-radius:25% 45% 40% 40%/ 50%;
  overflow:hidden;
  transform:rotate(-4.5deg);
}
.reflect1{
  background-color:#8ac4d0;
  width:90%;
  height:70px;
  position:absolute;
  right:0;
  top:0;
  border-radius:13% 17% 99% 40% / 81% 34% 66% 19% ;
}
.reflect2{
  background-color:#f9f3f3;
  width:50%;
  height:40px;
  position:absolute;
  right:40px;
  top:5px;
  border-radius:33% 70% 30% 30% / 31% 74% 36% 59% ;
}
.legs{
  display:flex;
  justify-content:space-between;
  transform:translateY(-30px);
}
.legs .left{
  width:100px;
  height:130px;
  background-color:#09158E;
  border-right:30px solid black;
  border-left:30px solid black;
  border-bottom:30px solid black;
  border-radius: 0 0 40% 40%;
  
}
.right{
   width:110px;
  height:130px;
  background-color:#09158E;
  border-right:30px solid black;
  border-left:30px solid black;
  border-bottom:30px solid black;
  border-radius: 0 0 40% 40%;
}
.backpack{
  position:absolute;
  height:300px;
  width:100px;
  background-color:#132ED1;
  border:30px solid black;
  left:-90px;
  top:130px;
  border-radius : 40% 0 0 40% /15%;
  
}
.shadow1{
  position:absolute;
  width:100%;
  height:90%;
  background-color:#09158E;
  overflow:hidden;
  bottom:0;
  border-radius:40% 0 0 0 /10% 0 0 0;
}
.floor{
  position:absolute;
  bottom:0;
  left:0;
  width:400px;
  height:100px;
  background-color:#2A2A2A;
  border-radius:50%;
}